
// Overwrite TGM Bootstrap nav styles
.navbar {
  margin: 0;
  &.special-feature {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
    z-index: 100;
    border-bottom: 1px solid rgba(255,255,255,.05);
    .brand {
      background-size: auto;
    }
  }
}
body {
  color: #222;
  &.loading {
    height: 100%;
    position: fixed;
    overflow: hidden;
    background: rgba(22,22,21,.9) url('/images/noise-overlay.png') center center repeat;
    .pre-load-background {
      display: block;
    }
    #main {
      visibility: hidden;
    }
  }
}

.container {
  width: auto;
}

.row {
  margin: 0;
  clear: both;
}

// Reused Mixins
.animation (...) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  -o-animation: @arguments;
  animation: @arguments;
}

.transform(@string){
  -webkit-transform: @string;
  -moz-transform:    @string;
  -ms-transform:     @string;
  -o-transform:      @string;
}

.rotation-frames() {
  0% {
    .transform(rotate(0deg));
  }
  100% {
    .transform(rotate(-360deg));
  }
}

.pre-load-background {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/loader.svg) center center no-repeat transparent;
  background-size: 60px auto;
  .animation(spin 2s infinite linear);
  @-webkit-keyframes spin {.rotation-frames;}
  @-moz-keyframes spin {.rotation-frames}
  @-ms-keyframes spin {.rotation-frames}
  @-o-keyframes spin {.rotation-frames}
  @keyframes spin {.rotation-frames}
  .pre-load & {
    display: block;
  }
}

#main {
  overflow: hidden;
  margin-top: 49px;
}

// .blur-on {
//   -webkit-filter: blur(1px);
//   -moz-filter: blur(1px);
//   -ms-filter: blur(1px);
//   filter: blur(1px);
//   // Force hardware acceleration
//   -webkit-transform: translateZ(0);
//    -moz-transform: translateZ(0);
//    -ms-transform: translateZ(0);
//    -o-transform: translateZ(0);
//    transform: translateZ(0);
// }
.blur-off {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

//CHAPTER CONTROLS
// This is a hack to get around any millisecond delays in the
// the browsers positioning of the element after `fixed` is removed.
.chapters-container.pinned-child {
  background: rgba(22,22,21,.9) url('/images/noise-overlay.png') center center repeat;
}
.chapters {
  position: relative;
  width: 100%;
  padding: 10px 0;
  background: rgba(22,22,21,.9) url('/images/noise-overlay.png') center center repeat;
  .box-shadow(inset 0 3px 3px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.4));
  text-align: center;
  color: white;
  border-bottom: 1px solid black;
  z-index: 99;
  &.fixed,
  &.fixed.inactive {
    top: -154px;
  }
  &.fixed {
    position: fixed;
    left: 0;
    &.inactive,
    &.active {
      .transition(top 250ms ease-out);
    }
    &.active {
      top: 44px;
    }
  }
  button.open {
    color: white;
    .border-bottom-radius(4px);
    position: absolute;
    right: 20px;
    bottom:-41px;
    background: rgba(22,22,21,.9) url('/images/noise-overlay.png') center center repeat;
    border: none;
    border-bottom: 1px solid black;
    .font-size(11);
    font-weight: bold;
    text-transform: uppercase;
    .box-shadow(0 2px 4px rgba(0,0,0,.4));
    padding: 10px 14px 10px 34px;
    width: 140px;
    z-index: 100;
    ul {
      margin: 0;
      position: absolute;
      margin: 6px 0 0 -20px;
      li {
        display: block;
        width: 14px;
        height: 2px;
        min-height: 0;
        padding: 0;
        margin-bottom: 1px;
        background-color: white;
        border: none;
        .border-radius(0);
        .opacity(100);
      }
    }
  }
  ul {
    margin: 0;
    display: block;
    width: 100%;
    li {
      vertical-align: top;
      display: inline-block;
      width: 11%;
      height: 160px;
      padding: 10px;
      .opacity(60);
      .border-radius(4px);
      border: 1px solid rgba(0,0,0,0);
      .transition(all 150ms ease-in);
      &:hover, &:focus, &:active {
        .opacity(100);
        cursor: pointer;
        background-color: rgba(0,0,0,0.2);
        .transition(all 150ms ease-out);
      }
      &.active {
        background-color: rgba(0,0,0,0.4);
        border: 1px solid rgba(0,0,0,0.1);
        .opacity(100);
        .title {
          color: white;
        }
      }
      a {
        &:hover, &:focus, &:active {
          text-decoration: none
        }
      }
      .pic {
        width: 100%;
        height: auto;
        max-height: 100px;
        background-color: black;
        .border-radius(2px);
        overflow: hidden;
        img {
          width: 100%;
          height: auto;
        }
      }
      .title {
        text-align: left;
        color: #dbd3c6;
        text-shadow: 0 -1px 0 black;
        width: auto;
        h4 {
          .font-size(11);
          font-weight: normal;
          margin: 8px 0 0;
          text-transform: uppercase;
        }
        h3 {
          .font-size(18);
          margin: 2px 0 0;
          width: 100%;
          display: block;
          &:first-of-type {
            //Force hyphenation of long word
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
            word-break: break-all;
            word-break: break-word;

          }
        }
      }
    }
  }
}

// PAGE STYLES

article {
  @Margin:20%;
  @parFontSize: 20;
  overflow: hidden;
  .article-header {
    -webkit-font-smoothing: antialiased;
    // XXX commented out but this should maybe be in as fallback for mobile?
    background: rgba(22,22,21,.9) url('/images/noise-overlay.png') center center repeat;
    background-size: cover;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    color: rgba(255,255,255,0.8);
    // .box-shadow(inset 0 0 150px rgba(0,0,0,0.8));
    display: table;
    width: 100%;
    position: relative;
    &:after {
      content: '';
      display: none; // HIDE THIS FOR NOW
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('/images/noise-overlay.png') center center repeat;
    }
    .row-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
    h1 {
      position: absolute;
      width: 100%;
      margin: 0;
      color: rgba(255,255,255,0.5);
      .font-size(180);
      line-height: .75;
      -webkit-mask-image: url('/images/header-bg.png');
      -o-mask-image: url('/images/header-bg.png');
      -moz-mask-image: url('/images/header-bg.png');
      mask-image: url('/images/header-bg.png');
      text-shadow:none;
      text-transform: uppercase;
      letter-spacing: -.05em;
    }
    h2 {
      position: absolute;
      vertical-align: middle;
      text-transform: uppercase;
      color: white;
      top: 40%;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin:0;
      .font-size(30);
      font-weight: 800;
      line-height: 1;
      text-shadow: 0 -1px 0 rgba(0,0,0,.3), 0 0 20px rgba(20,24,25,.8);
    }
    .author {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 5%;
      .font-size(16);
      z-index: 10;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
      a {
        color: rgba(255,255,255,0.8);
      }
    }
    #intro-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      video {
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
  section {
    margin-top: 5%;
    position: relative;
    &:nth-child(even) {
      h1 .row {
        text-align: right;
        left: auto;
        right: @Margin;
        margin-right: -20px;
        padding-right: 20px;
        border-left: none;
        border-right: 1px solid white;
      }
    }
    h1 {
      position: relative;
      background-size: cover;
      background-attachment: fixed;
      .box-shadow(inset 0 10px 20px -10px rgba(0,0,0,0.8));
      margin:0;
      overflow: hidden;
      padding: 0;
      height: 100%;
      .row {
        position: absolute;
        bottom: 0;
        text-align: left;
        font-family: @sansFontFamily;
        font-weight: 800;
        .font-size(90);
        letter-spacing: -.06em;
        color: white;
        line-height: .8;
        text-transform: uppercase;
        left: @Margin;
        margin-left: -20px;
        text-shadow:0 -1px 0 rgba(0,0,0,.4);
        border-left: 1px solid white;
        padding: 0 0 5% 20px;
        width: 380px;
        span {
          display: block;
          width: auto;
          .font-size(18);
          letter-spacing: initial;
          font-weight: 200;
          margin-bottom: 6px;
        }
      }
      &:after {
        content: '';
        display: block;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/images/noise-overlay.png') center center repeat;
        .box-shadow(inset 0 5px 10px -5px rgba(0,0,0,0.8));
        overflow: hidden;
      }
    }
    p {
      font-family: @serifFontFamily;
      .font-size(@parFontSize);
      line-height: 1.5;
      -webkit-hyphens: auto;
      -webkit-hyphenate-limit-after: 1;
      -webkit-hyphenate-limit-before: 3;
      -moz-hyphens: auto;
      hyphens: auto;
      word-wrap:break-word;
      &:first-of-type {
        font-weight: bold;
        line-height: 1.4;
        &:first-letter {
          font-size: 720%;
          float: left;
          line-height: .73;
          margin: 0 0 15px -20px;
          text-indent: -5px;
        }
      }
      &:last-child {
        margin-bottom: 40px;
      }
    }
    &:nth-child(odd) {
      p, h4, .video-container .quote .row,
      .video-quote .quote .row {
        margin: 20px 35% 20px @Margin;
      }
    }
    &:nth-child(even) {
      p, h4, .video-container .quote .row,
      .video-quote .quote .row
       {
        margin: 20px @Margin 20px 35%;
      }
    }

    h4 {
      padding-top: 20px;
      .font-size(24);
      text-align: center;
    }
    p.datavis {
      margin-bottom: 40px;
    }
    &#chapter1 {
      margin-top:0;
      h1 {
        display: none;
        margin-top:0;
        background: none;
        .box-shadow(none);
        padding: 0;
        z-index: 10;
        overflow: visible;
        .row  {
          width: auto;
          color: rgba(0,0,0,.2);
          text-shadow:none;
          border-color: rgba(0,0,0,.2);
        }
        &:after {
          .box-shadow(none);
          background: none;
        }
      }
    }
    &#chapter2 {
      h1 {
        background-image: url('/images/lightpollution-size5.jpg');
        color: rgba(255,255,255,.3);
        span {
          &:before, &:after {
            border-color: rgba(255,255,255,.3);
          }
        }
        .caption {
          position: absolute;
          left: 5px;
          bottom: 5px;
          .font-size(14);
          line-height: 1.4;
          font-style: italic;
          font-weight: normal;
        }
      }
    }
    &#chapter3 {
      h1 {
        // set up BG properties for the mobile fallback
        background-position: right center;
        background-size: cover;
        background-attachment: fixed;

        color: rgba(0,0,0,.8);
         span {
          &:before, &:after {
          border-color: rgba(0,0,0,.8);
          }
        }
      }
    }
    &#chapter4 {
      h1 {
        // set up BG properties for the mobile fallback
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        color: rgba(0,0,0,.8);
         span {
          &:before, &:after {
          border-color: rgba(0,0,0,.8);
          }
        }
      }
    }
    &#chapter5 {
      h1 {
        background-image: url('/images/pub-size1.jpg');
        color: rgba(255,255,255,.3);
        span {
          &:before, &:after {
          border-color: rgba(255,255,255,.3);
          }
        }
      }
    }
    &#chapter6 {
      h1 {
        // set up BG properties for the mobile fallback
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        color: rgba(0,0,0,.8);
         span {
          &:before, &:after {
          border-color: rgba(0,0,0,.8);
          }
        }
      }
    }
    &#comments {
      text-align: center;
      padding: 5% 0;
    }
  }

  //RELATED MEDIA STYLES
  .gallery, blockquote, .map, .audio, .related, .video {
    overflow: hidden;
    position: relative;
    width: 30%;
    min-width: 240px;
    max-width: 380px;
    &.pull-right {
      margin: 0 5% 20px 2%;
      clear: right;
    }
    &.pull-left {
      margin: 0 2% 20px 5%;
      clear: left;
    }
    h4 {
      .font-size(16);
      text-transform: uppercase;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px dotted black;
      font-weight: 800;
      margin-top: 0;
    }
    img {
      margin-bottom: 10px;
      .border-radius(4px);
    }
  }
  .credit {
    display: block;
    .font-size(14);
    line-height: 1.4;
    font-style: italic;
    color: @grayDark;
    em {
      display: block;
      font-size: 80%;
      color: @grayLight;
      text-transform: uppercase;
    }
  }
  .related {
    position: relative;
    img  {
      width: 100%;
    }
    &.large {
      margin: 0 auto;
      width: 90%;
      .border-radius(6px);
      overflow: hidden;
      max-width: none;
      clear: both;
      .box-shadow(inset 0 0 0 0 transparent);
      img {
        width:100%;
        height: auto;
      }
      h4 {
        margin: 15px 0 0;
        padding: 0;
        position: absolute;
        border: none;
        .font-size(60);
        color: white;
        text-align: center;
        width: 100%;
        z-index: 10;
      }
      .ambient-video {
        position: static;
      }
      video {
        position: static;
        width: 100%;
        min-height: auto;
        display: block;
        margin-bottom: 5px;
      }
      .video-credit {
        color: #eee !important;
        position: absolute;
        left: 8px;
        bottom: 29px;
        color: white;
        opacity: 0.5;
        filter: alpha(opacity=50);
        position: absolute;
        font-size: 11px;
        font-size: 1.1rem;
        text-transform: uppercase;
      }
    }
  }
  .portrait {
    background: #faf5ee;
    height: auto;
    padding: 10px 10px 20px;
    .box-shadow(0 4px 12px -5px rgba(0,0,0,0.8));
    width: 25%;
    // &.pull-left {
    //   .rotate(-3deg);
    //   -ms-transform: rotate(0); //Cause IE sucks
    // }
    // &.pull-right {
    //   .rotate(3deg);
    //   -ms-transform: rotate(0); //Cause IE sucks
    // }
    img {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      .border-radius(0);
    }
  }
  .audio {
    iframe {
      margin-bottom: 10px;
    }
    .sc-player {
      margin: -70px 0 8px;
      padding: 0 3%;
      width: 94%;
      background-color: rgba(0,0,0,.6);
      .border-bottom-radius(6px);
      &:hover .sc-scrubber,
      &.playing .sc-scrubber {
        left: 64px;
        bottom: 11px;
      }
      .sc-scrubber {
        width: 80%;
      }
      ol.sc-trackslist {
      width: 80%;
      left: 60px;
      overflow: hidden;
        li.active, li:hover {
          background: transparent;
          color: white;
          a {
            color: white;
          }
        }
      }
    }
  }
  .map {
    width: 100%;
    max-width: none;
    height: 600px;
    &.pull-right {
      width: 35%;
      margin-right: -5%;
      height: 360px;
      padding: 1%;
      background: white;
      .border-radius(0);
      .box-shadow(0 10px 10px -10px rgba(0,0,0,.4));
      border: 1px solid rgba(0,0,0,.1);
      .rotate(2deg);
      -ms-transform: rotate(0); //Cause IE sucks
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  .gallery {
    min-height: 300px;
    .font-size(0);
    img {
      width: 100%;
      height: auto;
      &.sml {
        width: 45%;
        display: inline-block;
        margin: 0 10px 10px 0;
      }
    }
    ul {
      margin:0;
      li {
        position: relative;
        .border-radius(6px);
        overflow: hidden;
        &:after {
          content: '';
          display: block;
          .border-radius(6px);
          position: absolute;
          top:0;
          left: 0;
          height: 100%;
          width: 100%;
          .box-shadow(inset 0 4px 40px 0 rgba(0,0,0,0.2));
        }
        .overlay {
          .font-size(14);
          color: white;
          text-align: center;
          .border-bottom-radius(6px);
          display: block;
          width: 80%;
          padding: 15px 10%;
          position: absolute;
          left: 0;
          bottom: 0;
          background: rgba(0,0,0,.6);
        }
      }
    }
    button.arrow {
      position: absolute;
      background: rgba(0,0,0,.4);
      border: none;
      width: 30px;
      height: 30px;
      z-index: 10;
      bottom: 10px;
      .border-radius(50%);
      color: transparent;
      .opacity(50);
      i {
        text-align: center;
        color: white;
        line-height: 1.9;
      }
      &.prev {
        left: 10px;
      }
      &.next {
        right: 10px;
      }
      &:hover, &:active {
        .opacity(100);
      }
    }
  }
  .video {
    height: 380px;
    iframe {
      width: 100%;
      height: 85%;
    }

  }
  .quote {
    position: relative;
    display: table-row;
    color: #453929;
    overflow: hidden;
    .box-shadow(inset 0 5px 10px -5px rgba(0,0,0,0.8));
    padding: 0;
    margin: 0;
    z-index: 10;
    height: 100%;
    clear: both;
    &.short-quote .row {
      padding-top: 5%;
      padding-bottom: 5%;
    }

    &.shadow-text .row p {
      text-shadow: 0 0 50px #000;
    }

    &.italic {
      font-style: italic;
      .non-italic {
        font-style: normal;
      }
      .row p {
        .font-size(@parFontSize + 6);
        &:first-of-type {
          .font-size(@parFontSize + 6);
        }
      }
    }
    &.panel {
      position: absolute;
    }
    .row {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      padding:0;
      color: white;
      margin: 8% auto;
      padding: 3% 0 5%;
      z-index: 10;
      p {
        .font-size(@parFontSize);
        text-align: left;
        text-shadow:none;
        font-weight: 100;
        line-height: 1.6;
        &:first-of-type {
          .font-size(@parFontSize);
          font-weight: 100;
          margin-top:40px;
          &:first-letter {
            font-size: inherit;
            text-indent: 0;
            font-style: inherit;
            line-height: inherit;
            float: none;
            margin: 0;
          }
        }
        .author {
          border-top: 1px dotted  rgba(255,255,255,.8);
          margin-top: 3%;
          padding-top: 2%;
          text-align: center;
          display: block;
          font-size:80%;
          font-style: normal;
          font-weight: 600;
        }
      }
      .credit {
        color: white;
        .opacity(50);
        position: absolute;
        right: 3%;
        bottom: 3%;
        .font-size(11);
        text-transform: uppercase;
      }
    }
    &:after {
      content: '';
      display: block;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('/images/noise-overlay.png') center center repeat;
    }
    em {
      text-transform: uppercase;
      font-size: 80%;
      font-style: normal;
      display: block;
      margin-top: 20px;
      font-weight: 800;
    }
    &.albrecht {
      background: @grayDark url('/images/nighttree-size5.jpg') center center fixed  no-repeat;
      background-attachment: scroll; //FIXED Y U NO WORK?
      background-size: cover;
      padding: 0;
      .row {
        padding-top: 7%;
        padding-bottom: 12%;
      }
      p {
        width: 30%;
        padding: 0;
        background: transparent;
        border:none;
      }
    }
    &.court {
      background: @grayDark url('/images/carsunrise-size5.jpg') center center fixed  no-repeat;
      background-size: cover;
      clear: both;
      margin: 5% 0;
      display: block;
    }
    &.judgement {
      background: @grayDark url('/images/coal-size5.jpg') center center fixed  no-repeat;
      background-size: cover;
      .row {
        background: rgba(0,0,0,0.4);
      }
    }
    &.final {
      background: @grayDark url('/images/cockatoos-size5.jpg') center center fixed  no-repeat;
      background-size: cover;
      margin-bottom: 0;
      .row {
        background: rgba(0,0,0,0.4);
      }
    }
  }
  blockquote {
    font-family: @serifFontFamily;
    .font-size(40);
    line-height: 1.1;
    font-style: italic;
    border: none;
    text-indent: -25px;
    color: #6c6658;
    text-shadow:0 1px 0 white;
    width: 20%;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap:break-word;
    &.pull-left {
      text-align: right;
    }
    .author {
      font-style: normal;
      .font-size(22);
      margin-top: 20px;
      text-indent: 0;
    }
  }

  .video-container {
    .box-shadow(inset 0 5px 10px -5px rgba(0,0,0,0.8));
    background: rgba(22,22,21,.9) url('/images/noise-overlay.png') center center repeat;
    overflow: hidden;
    position: relative;
    clear: both;
    margin: 20px 0;
  }

  .video-quote {
    //.box-shadow(inset 0 5px 10px -5px rgba(0,0,0,0.8));
    .box-shadow(none);
    overflow: hidden;
    position: relative;
    margin: 20px 0;
    .quote {
      .box-shadow(none);
      .row {
        display: block;
        margin: 0 35% 20px 20% !important;
        .border-radius(0 0 6px 6px) !important;
//        background-color: transparent !important;
        .container {
//          padding: 20px;
//          width: 100%;
//          margin-left: -50px;
//          background-color: rgba(255, 255, 255, 0.6);
        }
      }
    }
    .video-container {
      .box-shadow(none);
      margin: 0;
    }
  }


  .video-container, .video-quote {
    .quote {
      .row {
        background-color: rgba(255,255,255,.8);
        padding: 20px;
        .border-radius(6px);
        display: block;
        .box-shadow(0 10px 10px -5px rgba(0,0,0,.4));
        p {
          margin: 10px;
          color: black;
        }
      }
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

//FOOTER

footer {
  background-color: #222;
  #gradient.vertical-three-colors(#000,#111,2%,#222);
  padding: 40px 5% 60px;
  text-shadow: 0 -1px 0 black;
  position: relative;
  z-index: 1000;
  .loading & {
    display: none;
  }
  h4 {
    color: white;
    text-transform: uppercase;
  }
  .top a {
    .font-size(12);
    font-weight: bold;
    line-height: 1.8;
    color: white;
    text-transform: uppercase;
    position: absolute;
    right: 10%;
    top: -34px;
    background-color: #000;
    padding: 10px 14px 6px;
    .border-top-radius(6px);
    .transition(all 150ms ease-out);
    &:hover {
      text-decoration: none;
      color: @grayLighter;
      top: -40px;
      padding-bottom: 10px;
      .transition(all 150ms ease-out);
    }
  }
  ul {
    margin: 10px 0 0;
    float: left;
    font-size: 80%;
    padding: 0 40px 0 0;
    &.photo-credit {
      clear:both;
      margin-top: 40px;
      li {
        .font-size(12);
      }
    }
    li {
      color: @gray;
      .font-size(14);
      list-style: none;
      float: left;
      ul {
        margin: 0 0 20px;
        a {
          margin-bottom: 10px;
        }
      }
      h5 {
        text-transform: uppercase;
        .font-size(12);
        margin: 20px 0 5px;
      }
      ul > li {
        float: none;
      }
    }
  }
  p {
    width: 270px;
    .font-size(12);
    margin-bottom: 0;
    text-transform: uppercase;
    color: @gray;
  }
  a {
    color: white;
    display: block;
    .font-size(24);
    font-weight: 600;
    line-height: .8;
    padding-bottom: 4px;
    &.tgm {
      width:240px;
      text-indent: -9000px;
      background: transparent url(/images/footer-logo.png) 0 0 no-repeat;
    }
    &:hover {
      color:white;
      text-decoration: none;
      .opacity(60);
    }
  }
}

//AUDIO CONTROLLER

.audio-control {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  width: 120px;
  text-align: left;
  background-color: rgba(22,22,21,.92);
  .border-radius(4px);
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  z-index: 199;
  .box-shadow(0 6px 8px -4px rgba(0,0,0,0.8));
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(0,0,0,.9);
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/noise-overlay.png') center center repeat;
  }
  h5 {
    width: 40px;
   .font-size(10);
   float: left;
   margin: 3px 0 0;
   color: @grayLight;
   text-shadow: 0 -1px 0 black;
   /*display: none;*/
  }
  &.audio-off { // added when the control is toggled into off
  }
  .has-switch {
    float: right;
    &.switch-small {
      min-width: 70px;
      margin-left: 4px;
    }
    label.switch-small {
      box-shadow: 0 0 8px rgba(0,0,0,0.5);
      .border-radius(2px);
    }
    span.switch-small {
      .font-size(11);
      box-shadow: inset 0 2px 2px rgba(0,0,0,0.3);
    }
    span.switch-left {
      background: @blue;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
      .border-left-radius(2px);
    }
    span.switch-right {
      background: @grayDark;
      color: white;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
      .border-right-radius(2px);
    }
  }
}

.ambient-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}