.navbar {
  margin-bottom: 0;
}
.article-header {
  background: url('/images/JK3A9329.jpg') center no-repeat;
  padding: 3em;
}

article p {
  font-size: 16px;
  line-height: 1.5;
  width: 40em;
  margin: 1em auto;
  &:first-child {
    margin-top: 3em;
  }
  &:last-child {
    margin-bottom: 3em;
  }
}