// variable for breakpoints
@smallerWidth:  680px;    // Phones
@smallWidth:    780px;    // Big phones, small tablets
@medWidth:      980px;    // Portrait tablets
@bigWidth:      1025px;   // Landscape tablets, smaller screens
@biggerWidth:   1026px;   // Big screens (min-width)

.responsiveBG(@imgName) {
  @imgBase: "/images/@{imgName}-size";
  @media only screen and (min-width: @biggerWidth)  { background-image: url("@{imgBase}5.jpg"); }
  @media only screen and (max-width: @bigWidth)     { background-image: url("@{imgBase}4.jpg"); }
  @media only screen and (max-width: @medWidth)     { background-image: url("@{imgBase}3.jpg"); }
  @media only screen and (max-width: @smallWidth)   { background-image: url("@{imgBase}2.jpg"); }
  @media only screen and (max-width: @smallerWidth) { background-image: url("@{imgBase}3.jpg"); }
}

.videoFallback(@imgName) {
  // fallback for when there's no video - using a bigger size cos the stills are a bit lossy
  @imgBase: "/images/@{imgName}-size";
  background-image: url("@{imgBase}4.jpg");
}

.videoFallbacks() {
  article {
    // video fallbacks (mobile)
    .article-header {
      video { display: none; };
      .videoFallback('Opener');
    }

    section#chapter2 {
      h1 { background-attachment: scroll; }
    }

    section#chapter3 {
      video { display: none; };
      h1 {
        .videoFallback('JohnKrey');
        background-attachment: scroll;
      }
      .time-lapse-big { display: none; }
      .time-lapse-small { display: block; }
    }

    section#chapter4 {
      video { display: none; };
      h1 {
        .videoFallback('SunriseHill');
        background-attachment: scroll;
    }
    }

    section#chapter5 {
      h1 { background-attachment: scroll; }
    }

    section#chapter6 {
      video { display: none; };
      h1 {
        .videoFallback('Cat');
        background-attachment: scroll;
      }
    }

    .quote.court,
    .quote.judgement,
    .quote.final {
        background-attachment: scroll;
    }

    .video-quote .video-container {
      // this should be #morning-timelapse-section .video-container -
      // need to add an ID to this .video-quote element
      video { display: none; };
      .videoFallback('MorningTimelapse');
      background-position: center center;
      background-size: cover;
      background-attachment: static;
    }

    #coal-train-section .video-container {
      video { display: none; };
      .videoFallback('Coaltrain');
      background-position: 80% center;
      background-size: cover;
      background-attachment: static;
    }

    #gum-leaves-section .video-container {
      video { display: none; };
      .videoFallback('GumLeaves');
      background-position: center center;
      background-size: cover;
      background-attachment: static;
    }
  }
  .audio-control {
    //no atmos, so no audio control
    display: none;
  }
}

html.ie6, html.ie7, html.ie8 {

  .chromeframe{
    font-style: italic;
  }

  .videoFallbacks();

  article{
    .court{
      background-image: none;
    }
    p {
      margin-left: 10%;
      margin-right: 10%;
    }
    .article-header{
      background-position-x: center;
      background-repeat: no-repeat;
      background-position-y: center;
      background-color: @grayDark;
      .row-container{
        height: 500px;
        position: relative;
        h1{
          margin-top: 5%;
          position: relative;
        }
      }
    }
  }



  .datavis-container, .chapters-container{
    display:none;
  }
}
@media only screen and (max-width: @bigWidth) { .videoFallbacks(); }


article {
  // big resposive images (all devices)
  section#chapter2 h1 { .responsiveBG('lightpollution'); }
  section#chapter5 h1 { .responsiveBG('pub'); }
  .quote.albrecht     { .responsiveBG('nighttree'); }
  .quote.court        { .responsiveBG('carsunrise'); }
  .quote.judgement    { .responsiveBG('coal'); }
  .quote.final        { .responsiveBG('cockatoos'); }

}

//iPad Landscape and smaller screens
@media only screen and (max-width: @bigWidth) {
  article {
    @parFontSize: 18;
    section p,
    section .video-quote p {
      .font-size(@parFontSize);
      &:first-of-type {
        .font-size(@parFontSize);
      }
    }
    .article-header {
      h1 {
        .font-size(110);
      }
      h2 {
        .font-size(20);
      }
    }
    section {
      @Margin:15%;
      &:nth-child(odd) {
        h1 .row {
          left: @Margin;
        }
        p,
        h4,
        .video-container .quote .row,
        .video-quote .quote .row {
          margin: 20px 25% 20px @Margin;
        }
        .video-quote .quote .row {
          margin-top: 0 !important;
        }
      }
      &:nth-child(even) {
        h1 .row {
          right: @Margin;
        }
        p,
        h4,
        .video-container .quote .row,
        .video-quote .quote .row {
          margin: 20px @Margin 20px 25%;
        }
        .video-quote .quote .row {
          margin-top: 0 !important;
          p {
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
        }
      }
      .map {
        height: 400px;
      }
      .related {
        &.pull-right {
          margin-right: 5%;
        }
        &.large {
          h4 {
            .font-size(40);
          }
        }
      }
      .quote {
        &.italic {
          .row p {
            .font-size(@parFontSize + 4);
            &:first-of-type {
              .font-size(@parFontSize + 4);
            }
          }
        }
        .row {
          p, p:first-of-type {
            .font-size(@parFontSize);
          }
        }
      }
      blockquote {
        text-indent: -20px;
        .font-size(30);
        .author {
          .font-size(18);
        }
      }
    }
  }
}
// SMALLER SCREENS AND PORTRAIT

@media only screen and (max-width: @medWidth) {
  .navbar.special-feature {
    padding: 8px 0;
    .brand.brand-center {
      background-position: 24px center;
      float: left;
      margin: 0;
      width:412px;
    }
  }
  .chapters {
    &.fixed {
      top:-114px;
    }
    ul {
      li {
        height: 120px;
        .title {
          h3 {
            .font-size(15);
          }
        }
      }
    }
  }
  article {
    @parFontSize: 16;
    .article-header {
      h1 {
        .font-size(100);
      }
      h2 {
        .font-size(18);
      }
    }
    section {
      @Margin: 15%;
      h1 .row {
        .font-size(70);
      }
      &:nth-child(even) h1 .row {
        right: @Margin;
      }
      &:nth-child(odd) h1 .row {
        left: @Margin;
      }
      &:nth-child(even), &:nth-child(odd) {
        p,
        h4,
        .video-container .quote .row,
        .video-quote .quote .row {
           margin: 15px @Margin 15px @Margin;
        }
        p,
        .video-quote p {
          .font-size(@parFontSize);
          &:first-of-type {
            .font-size(@parFontSize);
          }
        }
      }
      h4 {
        .font-size(@parFontSize + 4);
      }
      &#chapter1 {
        h1 {
          @textHeight:84px;
          height: @textHeight;
          margin-top: -@textHeight;
        }
      }
      .gallery, blockquote, .map, .audio, .related, .video {
        &.pull-right {
          margin: 0 2% 20px 2%;
        }
        &.pull-left {
          margin: 0 2% 20px 2%;
        }
      }
      .quote {
        &.italic {
          .row p {
            .font-size(@parFontSize + 6);
            &:first-of-type {
              .font-size(@parFontSize + 6);
            }
          }
        }
        p, p:first-of-type {
          .font-size(@parFontSize);
        }
        &.final {
          p {
            .font-size(@parFontSize);
          }
        }
      }
      blockquote {
        text-indent: -15px;
        .font-size(24);
        .author {
          .font-size(14);
        }
      }
      #comments {
        h4 {
          .font-size(@parFontSize + 6);
          a {
            .font-size(@parFontSize + 4);
          }
        }
      }
    }
  }
}
// BIG PHONES AND SMALL TABLETS
@media only screen and (max-width: @smallWidth) {
  .blur-on {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }
  .navbar.special-feature {
    .brand.brand-center {
      float: none;
      margin: 0 auto;
      width: 190px;
      background-position: left center;
    }
  }
  .chapters {
    &.fixed {
      top:-94px;
    }
    ul {
      li {
        height: 100px;
        .title {
          h4 {
            margin-top: 4px;
          }
          h3 {
            .font-size(14);
          }
        }
      }
    }
  }
  article {
    .article-header {
      h1 {
        .font-size(70);
      }
      h2 {
        .font-size(16);
      }
    }
    section {
      @Margin: 6%;
      h1 .row {
        .font-size(60);
        padding-bottom: 15%;
        span {
          .font-size(18);
        }
      }
      &:nth-child(even) h1 .row {
        right: @Margin;
      }
      &:nth-child(odd) h1 .row {
        left: @Margin;
      }
      &:nth-child(even), &:nth-child(odd) {
      p, h4, .video-container .quote .row,
      .video-quote .quote .row {
          margin: 15px @Margin 15px @Margin;
        }
      }

      &#chapter1 {
        h1 {
          text-align: center;
          margin: 0 auto 5%;
          .font-size(60);
          @textHeight:50px;
          height: @textHeight;
          margin-top: -@textHeight;
        }
      }
      .gallery, blockquote, .map, .audio, .related, .video {
        width: 80%;
        &.pull-right, &.pull-left {
          margin: 0 auto 20px;
          float: none;
        }
      }
      .map {
        width: 100%;
        height: 200px;
      }
      .related {
        &.large {
          width: 95%;
          h4 {
            .font-size(24);
          }
        }
      }
      .portrait {
        max-width: 400px;
      }
      .quote {
        .row {
          width: 80%;
        }
      }
      .credit {
        .font-size(12);
      }
      blockquote {
        text-indent: -15px;
        .font-size(24);
        &.pull-left {
          text-align: justify;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }
        .author {
          .font-size(18);
        }
      }
    }
  }
}
// PHONES
@media only screen and (max-width: @smallerWidth) {
  .blur-on {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  .navbar {
    &.special-feature {
      position: relative;
      padding: 2px 0;
      .special-feature-misc {
        display: none;
      }
    }
  }
  .chapters-container {
    height: auto !important;
  }
  .chapters {
    background-color: rgb(22,22,21);
    padding: 0;
    width: 260px;
    position: fixed;
    top: initial;
    bottom: 10px;
    left: initial;
    right: -314px;
    .border-left-radius(4px);
    &.fixed {
      top: 10px;
      left: initial;
      right: -264px;
      .transition(right 250ms ease-out);
    }
    &.active {
      top: 10px !important;
      right: 0;
      left: initial;
      .transition(right 250ms ease-out);
    }
    ul {
      li {
        display: block;
        width: auto;
        padding: 8px 15px;
        margin: 0 auto;
        height: auto;
        min-height: 40px;
        .border-radius(0);
        border-bottom: 1px solid rgba(255,255,255,.1);
        &:last-child {
          min-height: auto;
          border-bottom: none;
        }
        .pic {
          width: 60px;
          float: right;
          margin-left: 10px;
        }
        .title {
          h4 {
            .font-size(10);
          }
          h3 {
            .font-size(14);
          }
        }
      }
    }
    button.open {
      background-color: rgb(22,22,21);
      right:260px;
      left: initial;
      top: initial;
      bottom: 10px;
      text-indent: -9000px;
      width: 44px;
      padding:10px;
      text-align: center;
      .border-radius(0);
      .border-left-radius(4px);
      ul {
        left: 50%;
        width: auto;
        margin: 6px 0 0 -7px;
        li {
          margin: 0 0 1px;
        }
      }
    }
  }
  #main {
    margin: 0;
  }
  article {
    @parFontSize: 16;
    .article-header {
      background-attachment: scroll;
      .box-shadow(inset 0 0 150px rgba(0,0,0,0.8));
      h1 {
        .font-size(46);
        br {
          display: none;
        }
      }
      h2 {
        .font-size(14);
        padding: 0 5%;
        width: 90%;
        margin-top: -20px;
      }
      .author {
        .font-size(12);
        line-height: 1.4;
        .author-pic {
          width: 50px;
          height: 50px;
          @borderWidth:2px;
          border-width: @borderWidth;
          &:before {
            left: -@borderWidth;
            top: -@borderWidth;
            width: 100% + (@borderWidth * 4);
            height: 100%  + (@borderWidth * 4);
          }
        }
      }

      .scroller-icon {
        .square(22px);
        .font-size(20);
        line-height: 22px;
      }

    }
    section {
      margin-top: 0;
      h1 {
        background-attachment: scroll; //FIX FOR iOS
        .row {
          border: none;
          .font-size(38);
          padding-bottom: 25%;
          width: 90%;
          span {
          .font-size(12);
          margin-bottom: 2px;
          }
        }
      }
      p,
      section .video-quote p {
      line-height: 1.4;
        &:first-of-type {
          &:first-letter {
            font-size: inherit;
            text-indent: 0;
            font-style: inherit;
            line-height: inherit;
            float: none;
            margin: 0;
          }
        }
      }
      h4 {
        .font-size(@parFontSize);
      }
      &#chapter1 {
        &:before {
          margin-top: 10px; 
          height: 10px; 
        };
        h1 {
          .font-size(38);
          @textHeight:30px;
          height: @textHeight;
          margin-top: -@textHeight;
        }
      }
      .gallery, blockquote, .map, .audio, .related, .video {
        width: 70%;
        h4 {
          .font-size(12);
          text-align: center;
        }
      }
      .map {
        height: 260px;
        z-index: -1;
        width: 100%;
      }
      .portrait {
        width: 220px;
        min-width: 0;
        span {
          .font-size(12);
        }
      }
      .related {
        &.large {
          width: 100%;
          .border-radius(0);
          h4 {
            .font-size(20);
          }
        }
      }
      &:nth-child(even), &:nth-child(odd) {
      .video-container .quote .row,
      .video-quote .quote .row {
          margin: 15px 0 15px 0;
          background-color: rgba(255,255,255,.75);
          .border-radius(0px);
        }
      }
      .quote {
        background-attachment: scroll;
        padding:0;
        .row {
          border:none;
          width: auto;
          padding: 10px 10px 20px;
          p, p:first-of-type {
            padding: 0;
            width: auto;
            line-height: 1.3;
            .author {
              font-size:100%;
            }
          }
        }
        &.italic {
          .row {
            padding-bottom: 8%;
              p {
              .font-size(@parFontSize);
              &:first-of-type {
                .font-size(@parFontSize);
              }
            }
          }
          &.albrecht {
            .row {
              padding: 0 0 170px;
            }
          }
        }

        &:before {
          display: none;
        }
        &.final .row {
          padding: 6% 0 15%;
        }
      }
      blockquote {
        text-indent: -10px;
        .font-size(20);
        &.pull-left {
          margin-left: 10px;
        }
        .author {
          .font-size(12);
        }
      }
      #comments {
        width: auto;
        h4 {
          padding-top: 10px;
          .font-size(@parFontSize - 4);
          a {
            .font-size(@parFontSize - 4);
            margin-top: 5px;
          }
        }
      }
    }
  }
  .audio-control {
    display: none;
    left: initial;
    right: 10px;
    bottom: 0;
    .border-bottom-radius(0);
  }
  footer {
    padding: 20px 20px 30px;
    text-align: center;
    a.tgm {
      margin:0 auto 10px;
    }
    .top a {
      text-align: center;
      width: 102px;
      right: 50%;
      margin-right: -65px;
    }
    ul {
      padding:0;
      li {
        float: none;
        .font-size(12);
      }
    }
    &:before {
      height:70px;
      background-size: auto 70px;
      top: -70px;
    }
  }
}
