//iPad Landscape and smaller screens
@media only screen and (max-width: 1300px) {
	article {
    @parFontSize: 18;
		p {
      .font-size(@parFontSize);
      &:first-of-type {
        .font-size(@parFontSize);
      }
		}
    .article-header {
      h1 {
        .font-size(110);
      }
      h2 {
        .font-size(20);
      }
    }
    section {
      @Margin:15%;
      &:nth-child(odd) {
        h1 .row {
          left: @Margin;
        }
        p, h4, .video-container .quote .row,
      .video-quote .quote .row {
          margin: 20px 25% 20px @Margin;
        }
      }
      &:nth-child(even) {
        h1 .row {
          right: @Margin;
        }
        p, h4, .video-container .quote .row,
      .video-quote .quote .row {
          margin: 20px @Margin 20px 25%;
        }
      }
      .map {
        height: 400px;
      }
      .related {
        &.pull-right {
          margin-right: 5%;
        }
        &.large {
          h4 {
            .font-size(40);
          }
        }
      }
      .quote {
        &.italic {
          .row p {
            .font-size(@parFontSize + 4);
            &:first-of-type {
              .font-size(@parFontSize + 4);
            }
          }
        }
        .row {
          p, p:first-of-type {
            .font-size(@parFontSize);
          }
        }
      }
      blockquote {
        text-indent: -20px;
        .font-size(30);
        .author {
          .font-size(18);
        }
      }
    }
	}
}
// SMALLER SCREENS AND PORTRAIT

@media only screen and (max-width: 980px) {
  .navbar.special-feature {
    padding: 8px 0;
    .brand.brand-center {
      background-position: 24px center;
      float: left;
      margin: 0;
      width:412px;
    }
  }
  .chapters {
    &.fixed {
      top:-114px;
    }
    ul {
      li {
        width: 10%;
        height: 120px;
        .title {
          h3 {
            .font-size(15);
          }
        }
      }
    }
  }
  article {
    @parFontSize: 16;
    .article-header {
      h1 {
        .font-size(100);
      }
      h2 {
        .font-size(18);
      }
    }
    section {
      @Margin: 15%;
      h1 .row {
        .font-size(70);
      }
      &:nth-child(even) h1 .row {
        right: @Margin;
      }
      &:nth-child(odd) h1 .row {
        left: @Margin;
      }
      &:nth-child(even) p, &:nth-child(odd) p,
      h4, .video-container .quote .row,
      .video-quote .quote .row {
         margin: 15px @Margin 15px @Margin;
      }
      p {
        .font-size(@parFontSize);
        &:first-of-type {
          .font-size(@parFontSize);
        }
      }
      &#chapter1 {
        h1 {
          @textHeight:84px;
          height: @textHeight;
          margin-top: -@textHeight;
        }
      }
      .quote {
        &.italic {
          .row p {
            .font-size(@parFontSize + 4);
            &:first-of-type {
              .font-size(@parFontSize + 4);
            }
          }
        }
        p, p:first-of-type {
          .font-size(@parFontSize);
        }
        &.final {
          p {
            .font-size(@parFontSize);
          }
        }
      }
      blockquote {
        text-indent: -15px;
        .font-size(24);
        .author {
          .font-size(14);
        }
      }
    }
  }
}
// BIG PHONES AND SMALL TABLETS
@media only screen and (max-width: 780px) {
  .blur-on {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }
  .navbar.special-feature {
    .brand.brand-center {
      float: none;
      margin: 0 auto;
      width: 190px;
      background-position: left center;
    }
  }
  .chapters {
    &.fixed {
      top:-94px;
    }
    ul {
      li {
        height: 100px;
        .title {
          h4 {
            margin-top: 4px;
          }
          h3 {
            .font-size(14);
          }
        }
      }
    }
  }
  article {
    .article-header {
      h1 {
        .font-size(70);
      }
      h2 {
        .font-size(16);
      }
    }
    section {
      @Margin: 6%;
      h1 .row {
        .font-size(60);
        padding-bottom: 15%;
        span {
          .font-size(18);
        }
      }
      &:nth-child(even) h1 .row {
        right: @Margin;
      }
      &:nth-child(odd) h1 .row {
        left: @Margin;
      }
      &:nth-child(even) p, &:nth-child(odd) p,
      h4, .video-container .quote .row,
      .video-quote .quote .row {
          margin: 15px @Margin 15px @Margin;
      }
      &#chapter1 {
        h1 {
          text-align: center;
          margin: 0 auto 5%;
          .font-size(60);
          @textHeight:50px;
          height: @textHeight;
          margin-top: -@textHeight;
        }
      }
      .gallery, blockquote, .map, .audio, .related, .video {
        width: 80%;
        &.pull-right, &.pull-left {
          margin: 0 auto 20px;
          float: none;
        }
      }
      .map {
        width: 100%;
        height: 200px;
      }
      .related {
        &.large {
          width: 95%;
          h4 {
            .font-size(24);
          }
        }
      }
      .portrait {
        max-width: 400px;
      }
      .quote {
        .row {
          width: 80%;
        }
      }
      blockquote {
        text-indent: -15px;
        .font-size(24);
        &.pull-left {
          text-align: justify;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }
        .author {
          .font-size(18);
        }
      }
    }
  }
}
// PHONES
@media only screen and (max-width: 680px) {
  .blur-on {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  .navbar {
    &.special-feature {
      position: relative;
      padding: 2px 0;
      .special-feature-misc {
        display: none;
      }
    }
  }
  .chapters-container {
    height: auto !important;
  }
  .chapters {
    background-color: rgb(22,22,21);
    padding: 0;
    width: 260px;
    position: fixed;
    top: initial;
    bottom: 10px;
    left: initial;
    right: -314px;
    .border-left-radius(4px);
    &.fixed {
      top: 10px;
      left: initial;
      right: -264px;
      .transition(right 250ms ease-out);
    }
    &.active {
      top: 10px !important;
      right: 0;
      left: initial;
      .transition(right 250ms ease-out);
    }
    ul {
      li {
        display: block;
        width: auto;
        padding: 8px 15px;
        margin: 0 auto;
        height: auto;
        min-height: 40px;
        .border-radius(0);
        border-bottom: 1px solid rgba(255,255,255,.1);
        &:last-child {
          min-height: auto;
          border-bottom: none;
          .title {
            text-align: center;
            padding: 8px 0 10px;
          }
        }
        .pic {
          width: 60px;
          float: right;
          margin-left: 10px;
        }
        .title {
          h4 {
            .font-size(10);
          }
          h3 {
            .font-size(14);
          }
        }
      }
    }
    button.open {
      background-color: rgb(22,22,21);
      right:260px;
      left: initial;
      top: initial;
      bottom: 10px;
      text-indent: -9000px;
      width: 44px;
      padding:10px;
      text-align: center;
      .border-radius(0);
      .border-left-radius(4px);
      ul {
        left: 50%;
        width: auto;
        margin: 6px 0 0 -7px;
        li {
          margin: 0 0 1px;
        }
      }
    }
  }
  #main {
    margin: 0;
  }
  article {
    @parFontSize: 16;
    .article-header {
      background-attachment: scroll;
      .box-shadow(inset 0 0 150px rgba(0,0,0,0.8), 0 20px 20px -20px black);
      h1 {
        .font-size(54);
        br {
          display: none;
        }
      }
      h2 {
        .font-size(14);
        padding: 0 5%;
        width: 90%;
        margin-top: -65px;
      }
      .author {
        .font-size(12);
        .author-pic {
          width: 50px;
          height: 50px;
          @borderWidth:2px;
          border-width: @borderWidth;
          &:before {
            left: -@borderWidth;
            top: -@borderWidth;
            width: 100% + (@borderWidth * 4);
            height: 100%  + (@borderWidth * 4);
          }
        }
      }
    }
    section {
      margin-top: 0;
      h1 {
        background-attachment: scroll; //FIX FOR iOS
        .row {
          border: none;
          .font-size(38);
          padding-bottom: 25%;
          span {
          .font-size(12);
          margin-bottom: 2px;
          }
        }
      }
      p {
      line-height: 1.4;
        &:first-of-type {
          &:first-letter {
            font-size: inherit;
            text-indent: 0;
            font-style: inherit;
            line-height: inherit;
            float: none;
            margin: 0;
          }
        }
      }
      &#chapter1 {
        h1 {
          .font-size(38);
          @textHeight:30px;
          height: @textHeight;
          margin-top: -@textHeight;
        }
      }
      .gallery, blockquote, .map, .audio, .related, .video {
        width: 70%;
        h4 {
          .font-size(12);
          text-align: center;
        }
      }
      .map {
        height: 260px;
        z-index: -1;
        width: 100%;
      }
      .portrait {
        width: 220px;
        min-width: 0;
        span {
          .font-size(12);
        }
      }
      .related {
        &.large {
          width: 100%;
          .border-radius(0);
          h4 {
            .font-size(20);
          }
        }
      }
      .quote {
        background-attachment: scroll;
        padding:0;
        .row {
          border:none;
          width: auto;
          padding: 20px 20px 40px;
          p, p:first-of-type {
            padding: 0;
            width: auto;
            line-height: 1.3;
            .author {
              font-size:100%;
            }
          }
        }
        &:before {
          display: none;
        }
        &.final .row {
          border: none;
          background: none;
          padding: 6%;
        }
      }
      blockquote {
        text-indent: -10px;
        .font-size(20);
        &.pull-left {
          margin-left: 10px;
        }
        .author {
          .font-size(12);
        }
      }
    }
  }
  .audio-control {
    display: none;
    left: initial;
    right: 10px;
    bottom: 0;
    .border-bottom-radius(0);
  }
  footer {
    padding: 20px 20px 30px;
    .top a {
      text-align: center;
      width: 102px;
      right: 50%;
      margin-right: -65px;
    }
    ul {
      padding:0;
      li {
        float: none;
      }
    }
    &:before {
      height:70px;
      background-size: auto 70px;
      top: -70px;
    }
  }
}